*{
    margin: 0;
    padding: 0;
}
::-webkit-scrollbar {
    display: none;
}
a{
    font-size: 16px;    
}
#logo{
    margin-top: 30px;
    margin-right: 20px;
}
.main{
    display: grid;
    grid-template-columns: 250px auto;
}
.sidebar{
    grid-column: 1/2;
    grid-row: 1/3;
    background-color: black ;
    color: white;
    height: 90.3vh;
    z-index: 0;
    overflow: scroll;
}
.side{
    display: flex;
    flex-direction: column;
}
.side2{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.top-arr{
    grid-column: 2/12;
    max-height: 150px;
    overflow: scroll;
}

.hero{
    background-color: #161616;
    grid-column: 2/12;
    /* grid-row: 2/3; */
    width: 100%;
    height:78vh;
    overflow: scroll;
    color: white;
}
.foot{
    grid-column: 1/12;
}
ul{
    height:100vh;
}
li{
    margin-bottom: 10px;
    align-items: center;
}
li>a{
   margin-left: 20px;
} 
#heart{
    width: 30px;
    height: 30px;
    padding: 5px;
    border-radius: 3px;
    background-image: linear-gradient( to right ,#5729F0, #B1CFDC);
}
.sep{
    margin-top: 25px;
}
.fav {
    margin-top: 15px;
}

.fav a{
    margin-left: 0;
}
.install{
    margin-top: 35px;
    font-size: 19px;
}

.top-arr{
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #161616;
    color: white;
    width:100%;
    display: flex;
}
.top-arr div{
    margin: 20px;
}

.arrow{
    display: flex;
    width: 80px;
    justify-content: space-between;
}

.account{
    position: absolute;
    left: 66vw;
    display: flex;
    width: 120px;   
    justify-content: space-around;
    height: 30px;
    text-align: center;
    overflow: hidden;
}
.hero h2{
    margin:30px 0 30px 100px ;
}
.one{
    margin-left: 40px;
}
.main1 .two{
    margin-left: 40px;
}
.cards1{
    min-width: 250px;
    margin-left: 60px;
    align-items: center;
    font-size: 17px;
    background-color: #45424D;
}
.cards1 p{
    margin-left: 20px;
    margin-top: 10px;
}

.three{
    margin-top: 30px;
    margin-left: 100px;
}
.images{
    display: grid;
    grid-template-columns:auto auto auto auto;
}

.card{
    margin-bottom: 90px;
}
.card p{
    font-size: 13px;
    padding: 0;
    margin-bottom: 0;
}

.foot{
    background-color: #000000;
    color:white;
    position: sticky;
    bottom: 0;
    z-index: 1;
}

.controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info{
    display: flex;
    justify-content: space-evenly;
}
.info p{
    font-size: 14px;
    margin-top: 17px;
    padding-left: 15px;
}

#pic{
    height: 76px;
    width: 70px;
    padding: 3px;
}

#her{
    margin-top: 25px;
    margin-left: 10px;
}


.musicont{
    width: 400px;
    margin-right: 350px;
}
.player{
    min-width: 620px;

}
.play{
    min-width: 300px;
    margin-left: 160px;
}
.num{
    font-size: 14px;
    margin: 10px;
}
#played{
    width: 200px;
    height: 5px;
    background-color: #45424D;
}
#length{
    width: 550px;
    height: 5px;
    margin-bottom: 16px;
    background: whitesmoke;
}
.mick{
    margin-top: 35px;
    width: 200px;
    margin-right: 20px;
}
#vol{
    width: 30px;
    height: 4px;
    margin-top: 20px;
    background-color: #45424D;
}

.green{
    min-height: 20px;
    background-color: #1ED760;
    font-size: 13px;
}
.green p{
    margin-left: 1100px;
}

@media (width<=768px){
    .main{
        display: grid;
        grid-template-columns: 200px auto;
    }
    .sidebar{
        height: 97vh;
    }
    .top-arr{
        width: 650px;
    }
    .hero{
        width: 650px;
    }
     .logo img{
        width: 25px;
        height: 25px;
    }
     .logo a{
        font-size: 12px;
    }
    .main1{
    display: flex;
    flex-direction: column;
    }
    .one img{
        width: 50px;
        height:50px;
    }
    .two img{
        width: 50px;
        height:50px;
    }
    .cards1{
        min-width: 100px;
        height: 50px;
        font-size: 15px;
    }
    .images{
        display: grid;
        grid-template-columns: auto auto auto;
    }
    #pic{
        height: 60px;
        width: 50px;
        padding: 3px;
    }
    .info p{
        font-size: 12px;
    }
    .green{
       display: none;
    }
    .controls{
        width: 700px;
    }
    .musicont{
        width: 200px;
    }
    .player{
        max-width: 400px;
        margin-left: 60px;
    }
    .play{
        min-width: 200px;
        margin-left: 180px;
    }
    #length{
        width: 400px;
        margin-left: 10px;
    }
    .mick{
        display: flex;
        justify-content: space-evenly;
        margin-left: 40px;
    }
    .mick img{
        width: 12px;
        height: 12px;
        margin-left: 10px;
    }
    #vol, #ex{
        display: none;
    } 

}

@media (width<=320px){
    .main{
        display: grid;
        grid-template-columns: auto;

    }
    .top-arr{
        grid-column: 1/12;
        width: 204vh;
    }
    .sidebar{
        grid-column: 1/12;
        position: sticky;
        top: 0;
        max-height: 100px;
        z-index: 1;
        overflow: hidden;
    }
    .side{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    .side2{
        display: flex;
        flex-direction: row;
        margin-left: 70px;
    }  
    .hero{
        grid-column: 1/12;
        width: 204vh;
        height: 140vh;
    }
    #sep{
        margin-top: 5px;
    }
    .fav, .fav1, .install{
        display: none;
    }
    .foot{
        width: 204vh;
    }
    #non{
       display: none;
    }
    .top-arr{
    display: none;
    }
    .hero{
        height: 300vh;
    }
    .one img{
        width: 50px;
        height:50px;
    }
    .two img{
        width: 50px;
        height:50px;
    }
    .cards1{
        width: 250px;
        height: 50px;
        margin: auto;
        font-size: 15px;
    }
    .images{
        display: grid;
        grid-template-columns: auto auto;
        column-gap: 10px;
    }
    #pic{
        height: 60px;
        width: 50px;
        padding: 3px;
    }
    .info p{
        font-size: 12px;
    }
    .green{
       display: none;
    }
    .controls{
        width: 700px;
    }
    .musicont{
        width: 200px;
    }
    .player{
        max-width: 400px;
        margin-left: 60px;
    }
    .play{
        min-width: 200px;
        margin-left: 180px;
    }
    #length{
        width: 400px;
        margin-left: 10px;
    }
    .mick{
        display: flex;
        justify-content: space-evenly;
        margin-left: 40px;
    }
    .mick img{
        width: 12px;
        height: 12px;
        margin-left: 10px;
    }
    #vol, #ex{
        display: none;
    } 

}
